<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some website</title>
</head>
<body>
    {{> header}}
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores magni optio in laboriosam nisi et officia veritatis reiciendis hic. Laborum rerum mollitia est ducimus veritatis, repudiandae amet recusandae sunt libero!</p>
    
    {{> footer}}
</body>
</html>